---
import Head from "@layouts/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@config";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const { title, description, ogImage, canonicalURL } = Astro.props;
---

<!doctype html>
<html lang={SITE.lang}>
  <head>
    <Head
      title={title}
      description={description}
      ogImage={ogImage}
      canonicalURL={canonicalURL}
    />
  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
